/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* Tailwind styles */
@import "tailwindcss";
/* Mapbox styles */
@import "mapbox-gl/dist/mapbox-gl.css";

@theme {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;

  --color-primary: #1A1A1A;
  --color-danger: #FF0000;
  --color-secondary: #5A5957;
  --color-tertiary: #C4A889;

  --color-border-primary: #E0E0E0;

  --color-bg-primary: #FAFAFA;
}

@keyframes horizontal-loader {
  0% {
    transform: scaleX(0);
    transform-origin: center left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: center left;
  }
  51% {
    transform: scaleX(1);
    transform-origin: center right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: center right;
  }
}

@utility animate-horizontal-loader {
  animation: horizontal-loader 3s linear infinite;
}